{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
<h2>Ajouter une nouvelle équipe</h2>

    {{ form_start(form) }}
    {{ form_rest(form) }}
        <button class="btn btn-primary mr-5">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}
