{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="home">
    <h1>Bienvenue sur Sportyma !</h1>
    <h2>La solution de gestion des clubs de football amateurs</h2>
    <p><span><a href="{{ path('app_login') }}">Connectez-vous</a></span> ou <span><a href="{{ path('register') }}">inscrivez vous</a></span> pour utiliser cet outil</p>
</div>
{% endblock %}
