<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sportyma{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body class="d-flex flex-column">>
        {{ include('partials/_header.html.twig') }}

        <div class="flex-fill d-flex flex-row-nowrap justify-content-center">
			<div class="content d-flex flex-row-nowrap flex-fill py-50">
		
				<div class="flex-fill">
					{% block body %}Contenu
					{% endblock %}
				</div>
			</div>
		</div>
       

        {{ include('partials/_footer.html.twig') }}
    </body>
</html>
